/* CONTENT */
.followings_section {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .followed_user {
    width: 350px;
    height: 60px;
    background-color: #1F1F1F;
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    text-align: left;
  }
  
  .followed_user_profile{
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .followed_user_detail_profile_pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .followed_user_detail_profile_name {
    font-size: 16px;
  }
  
  .follow_button {
    border: none;
    background-color: rgb(201, 0, 0);
    border-radius: 20px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-style: strong;
    font-weight: bold;
  }
  
  .follow_button:hover {
    background-color: rgb(145, 0, 0);
  }